[build]
  command = "hugo"
  publish = "public"

[build.environment]
  HUGO_VERSION = "0.102.3"
  HUGO_EXTENDED = "true"
  HUGO_ENV = "production"

[context.production]
  branch = "main"

[[redirects]]
  from = "/post/*"
  to = "/posts/:splat"
  status = 301
