{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv4 ph3 ph4-ns mw7">
      {{ $featured_image := .Params.featured_image }}
      {{ if not $featured_image }}
        <h1 class="f1">
          {{ .Title }}
        </h1>
      {{ end }}
      <section class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
        {{ .Content }}
      </section>
      {{ partial "tags.html" . }}
    </article>
    <div class="ph3 mt2 mt4-ns">
      {{ partial "menu-contextual.html" . }}
    </div>
  </div>
{{ end }}
