{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $toc := .TableOfContents }}
  {{ $tocPlain := trim (plainify $toc) " \n\r\t" }}
  {{ $hasToc := gt (len $tocPlain) 0 }}
  <div class="flex-ns">
    <article class="w-100 {{ if $hasToc }}w-70-l{{ end }} pv3 pv4-ns">
      <section class="measure-wide-ns nested-copy-line-height lh-copy {{ $.Param "text_size"  | default "f5 f4-l"}} nested-links nested-img dark-gray">
        {{ .Content }}
      </section>
      {{ partial "tags.html" . }}
    </article>
    {{ if $hasToc }}
    <aside class="dn db-l w-30-l pv4 pl4">
      <div class="toc-container blue">
        <div class="toc-heading f6 ttu tracked mv3 light-blue">On this page</div>
        {{ $toc }}
      </div>
    </aside>
    {{ end }}
  </div>
{{ end }}
