{{ $featured_image := .Params.featured_image }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header class="cover bg-top" style="background-image: url('{{ $featured_image }}');">
    <div class="bg-black-30">
      {{ partial "site-navigation.html" .}}
      <div class="mw8 center pv4 pv5-l ph3 ph4-ns">
        <time class="f6 mb2 dib ttu tracked white-80" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format "January 2, 2006" }}
        </time>
        <h1 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
          <span class="bg-black-50 lh-copy white pa1 tracked-tight sans-serif">
            {{ .Title | default .Site.Title }}
          </span>
        </h1>
        {{ with .Params.description  }}
          <h2 class="f3 fw4 i white-80">
            {{ . }}
          </h2>
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <header class="bg-gold">
      <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
        {{ partial "site-navigation.html" . }}
      </div>
      <div class="mw8 center pv4 pv5-l ph3 ph4-ns">
        <time class="f6 mb2 dib ttu tracked" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">          
          {{ .Date.Format "January 2, 2006" }}
        </time>
        <h1 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
          <span class="bg-black-90 lh-copy white pa1 tracked-tight sans-serif">
            {{ .Title | default .Site.Title }}
          </span>
        </h1>
        {{ with .Params.description  }}
          <h2 class="f3 fw4 i">
            {{ . }}
          </h2>
        {{ end }}
      </div>
    </header>
{{ end }}
