.personal {
    fill: hsla(0,0%,100%,.9);
  }
  
  .personal:hover {
    fill: #E7040F;
  }
  
  code {
    font-size: 0.75em;
  }
  
  :not(pre)>code {
    display: inline-block;
    padding: 0 .25em;
    background: #F4F4F4;
    border-radius: 0.25em;
  }

  div.tc-L {
    text-align: left;
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      background-color: rgb(17, 17, 17);
      color: #e4e4e4 !important;
    }
    .nested-links a {
      color: #77b2e3;
    }
    img {
      filter: grayscale(30%);
    }
    .black{
      color:#e4e4e4;
    }
    .near-black{
        color:#e4e4e4;
    }
    .dark-gray{
        color:#e4e4e4;
    }
    .mid-gray {
        color:#e4e4e4;
    }
    .bg-light-gray {
      background-color: #272822;
    }
    :not(pre)>code {
      background: rgb(7, 7, 7);
    }
  }